<!DOCTYPE html>
<html>

  <head>
    <title>Odpowiedz sieci</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script>
      function goBack() {
        window.history.back()
      }
    </script>
  </head>


  <body>
    <nav> 
      <a href='/'>XOR</a> <br>
      <a href='/upload.html'>MNIST Upload</a> <br>
      <a href='/draw.html'>MNIST Draw</a>
      
    </nav>
    <section>
      <p><img src="static/keras.jpg"  ></p>
      <h1>Keras Inference: XOR</h1>  
      {% block content %}{% endblock %}
      <h2><button onclick='goBack()'> BACK</button></h2>
    </section>
  <body/>
  

</html>