<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="keras" />
<meta name="description" content="inference" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Warsztaty</a></li>
				<li><a href="#" accesskey="2" title="">Keras</a></li>
				<li><a href="#" accesskey="3" title="">XOR</a></li>
				<li><a href="#" accesskey="4" title="">MNIST</a></li>
				<li><a href="#" accesskey="5" title="">Kontakt</a></li>
			</ul>
		</div>
		<div id="logo">
			<h1><a href="#">Learning by doing</a></h1>
	</div>
</div>
<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Warsztaty AI</h2>
			<span class="byline">Zbuduj własną sieć neuronową</span> </div>
		<div class="content">
			<p>Zapraszmy na <strong>warsztat</strong>, wuhfuwqhfuhwqfouhwqofuhwqounw coijwaoifcuh qcwoiehfoqw acowihfoiwqu  owhfoqwiuhf wqifeoiqhwf owhfowqhf owqefjoiwqh </p>
			<a href="#" class="button">O nas</a> </div>
	</div>
</div>
<div id="wrapper3">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>Więcej informacji</h2>
			<span class="byline">Sprawdż jak uczymy</span> </div>
		<div class="pbox1">
			<div class="column1">
				<div class="box"> <span class="icon icon-comments"></span>
					<h3>Hands-on</h3>
					<p>Sam budujesz rozwiązania</p>
				</div>
			</div>
			<div class="column2">
				<div class="box"> <span class="icon icon-cogs"></span>
					<h3>Technologia</h3>
					<p>Nowe technologie</p>
				</div>
			</div>
			<div class="column3">
				<div class="box"> <span class="icon icon-coffee"></span>
					<h3>Warsztaty</h3>
					<p>Mam kontent</p>
				</div>
			</div>
			<div class="column4">
				<div class="box"> <span class="icon icon-cloud"></span>
					<h3>Doświadczeni wykladowcy</h3>
					<p>Powyzej 40</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="wrapper2">
	<div id="featured" class="container">
		<div class="box1">
			<h2><span class="icon icon-group"></span>Ale duzo may do powiedzenia</h2>
			<p>Specifically, we will learn:
				How to (and how not to) load a Keras model into memory so it can be efficiently used for inference.
				How to use the Flask web framework to create an endpoint for our API
				How to make predictions using our model, JSON-ify them, and return the results to the client
				How to call our Keras REST API using both cURL and Python</p>
		</div>
		<div class="box2">
			<h2><span class="icon icon-briefcase"></span>I jeszcze to</h2>
			<p>By the end of this tutorial you'll have a good understanding of the components (in their simplest form) that go into a creating Keras REST API.

				Feel free to use the code presented in this guide as a starting point for your own deep learning REST API.
				
				Note: The method covered here is intended to be instructional. It is not meant to be production-level and capable of scaling under heavy load. If you're interested in a more advanced Keras REST API that leverages message queues and batching</p>
		</div>
	</div>
</div>
<div id="copyright">
	<div class="title">
		<h2>Zapraszamy</h2>
		<span class="byline">Warsztaty z nowych technologii</span> </div>
	<ul class="contact">
		<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
		<li><a href="#" class="icon icon-facebook"><span></span></a></li>
		<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
		<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
		<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
	</ul>
	<p>&copy; Warsztaty. All rights reserved. | Photos by Warsztaty | Design by Warsztaty</a>.</p>
</div>
</body>
</html>
