{% extends "base.html" %}
{% block content %}

<div id="welcome" class="container">
    <div class="title">
        <h2>Warsztaty</h2>
        <span class="byline">Najnowsze technologie - warsztaty hands-on</span> 
    </div>
    <div class="content">
        <p>
            <img height=200 src='static/ai.svg' style="float: left;" padding >  
            
            
                Wiele z obecnie pojawiających się technologii (internet rzeczy, sztuczna inteligencja, blockchain) nie jest intuicyjnych.
                Jednocześnie są to technologie tak przełomowe, że musimy uwzględnić je w dyskusjach o długofalowej strategii.
                
                Proponujemy warsztaty które nie tylko przybliżą, ale zapewnią pełne zrozumienie nowych trendów osobom, które decydują o wykorzystaniu ich w firmie.
                W czasie warsztatów zaprogramujemy wspólnie działający system Sztucznej Inteligencji (sieć neuronową), rozwiązanie Internetu Rzeczy lub stworzymy 'Smart Contract' na bazie technologii blockchain.
                
                Da to uczestnikom możliwość zobaczenia wszystkich elementów tych systemów i pozwoli lepiej zrozumieć korzyści i wyzwania które niesie za sobą ich wdrożenie.  <br>
                
                Umiejętność programowania NIE jest wymagana, warsztaty są dostępne dla wszystkich.
        </p>
    </div>
</div>

{% endblock %}